<h1>All tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% checkbox = "" %>
    <% if task.completed == true %>
      <li><%=fa_icon 'check-square-o'%> <%= link_to "#{task.title}", task_path(task) %></li>
    <% else %>
      <li><%=fa_icon 'square-o'%> <%= link_to "#{task.title}", task_path(task) %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New task", tasks_new_path %>
